// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
    @if $xy == xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include qodefTransform(translateX(-50%) translateY(-50%));
    }
    @else if $xy == x {
        left: 50%;
        right: auto;
        @include qodefTransform(translateX(-50%));
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;
        @include qodefTransform(translateY(-50%));
    }
}

$S:     480px;
$M:     768px;
$L:     1100px;

// media queries

@mixin MQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $S) { @content; }
    }
    @else if $canvas == M {
        @media only screen and (min-width: $M) { @content; }
    }
    @else if $canvas == L {
        @media only screen and (min-width: $L) { @content; }
    }
}

.qodef-horizontal-timeline {
    opacity: 0;
    @include qodefTransition(opacity .2s);

    &::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'mobile';
        display: none;
    }

    &.loaded {
        /* show the timeline after events position has been set (using JavaScript) */
        opacity: 1;
    }

    .qodef-timeline {
        position: relative;
        height: 100px;
        margin: 0 auto;
    }

    .qodef-events-wrapper {
        position: relative;
        height: 100%;
        margin: 0 40px;
        overflow: hidden;

        .qodef-events {

            /* this is the grey line/timeline */
            position: absolute;
            z-index: 1;
            left: 0;
            top: 49px;
            height: 2px;
            /* width will be set using JavaScript */
            background: #dadada;
            @include qodefTransition(transform .4s);

            .qodef-filling-line {
                /* this is used to create the green line filling the timeline */
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                @include qodefTransform(scaleX(0));
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -ms-transform-origin: left center; // IE9 only
                transform-origin: left center;
                @include qodefBackgroundGradient($first-main-color, $second-main-color);
                @include qodefTransition(transform .3s);
            }

            ol {
                list-style: none;
                margin: 0;
            }

            a {
                position: absolute;
                bottom: 0;
                z-index: 2;
                text-align: center;
                font-size: 12px;
                font-weight: 300;
                font-family: "Open Sans", sans-serif;
                letter-spacing: 0.5px;
                padding-bottom: 20px;
                color: #444444;
                text-transform: uppercase;
                /* fix bug on Safari - text flickering while timeline translates */
                @include qodefTransform(translateZ(0));

                .circle-outer {
                    /* this is used to create the event spot */
                    content: '';
                    position: absolute;
                    left: 50%;
                    right: auto;
                    @include qodefTransform(translateX(-50%));
                    bottom: -10px;
                    height: 24px;
                    width: 24px;
                    @include qodefBorderRadius(50%);
                    @include qodefBorderGradient($first-main-color, $second-main-color);
                    background-color: #e9e9e9;
                    @include qodefTransition(all 0.25s ease-out);
                    @include qodefBoxShadowCustom(0.5px 0.866px 1px 0px rgba( 0, 0, 0, 0.1 ));

                    .circle-inner {
                        background: #fff;
                        width: 12px;
                        height: 12px;
                        display: inline-block;
                        position: absolute;
                        @include qodefTransition(all 0.25s ease-out);
                        @include qodefBorderRadius(50%);
                        top: 50%;
                        left: 50%;
                        @include qodefTransform(translateX(-50%) translateY(-50%));
                    }
                }

                .no-touch &:hover .circle-outer {
                    background-color: $first-main-color;
                }

                &.selected {
                    pointer-events: none;

                    .circle-outer {
                        @include qodefTransform(translateX(-50%) scale(1.2));
                        background: $first-main-color;
                    }
                }

                /*&.older-event::after {
                    border-color: $first-main-color;
                }*/
            }
        }
    }

    .qodef-timeline-navigation {
        list-style: none;
        margin: 0;
        a {
            /* these are the left/right arrows to navigate the timeline */
            position: absolute;
            z-index: 1;
            @include center(y);
            height: 34px;
            width: 34px;
            line-height: 34px;
            border-radius: 50%;
            color: #dadada;
            text-align: center;

            &.qodef-prev {
                left: 0;
                &::after {
                    /* arrow icon */
                    content: "\34";
                    display: inline-block;
                    font-size: 24px;
                    font-family: ElegantIcons;
                }
            }

            &.qodef-next {
                right: 0;
                &::after {
                    /* arrow icon */
                    content: "\35";
                    display: inline-block;
                    font-size: 24px;
                    font-family: ElegantIcons;
                }
            }

            &.inactive {
                cursor: not-allowed;
            }
        }
    }

    .qodef-dots {
        height: 3px;
        background-image: radial-gradient(circle closest-side,#d2d2d2 99%,transparent 100%);
        background-position: 50% 70%;
        background-size: 20px 3px;
        background-repeat: repeat-x;
        display: inline-block;
        position: relative;
        width: 100%;
        top: -2px;
    }

    .qodef-events-content {
        position: relative;
        width: 100%;
        margin-top: 40px;
        overflow: hidden;
        @include qodefTransition(height .4s);

        > ol {
            list-style: none;
            margin: 0;
        }

        > ol > li {
            position: absolute;
            z-index: 1;
            width: 100%;
            left: 0;
            top: 0;
            @include qodefTransform(translateX(-100%));
            opacity: 0;
            -webkit-animation-duration: .4s;
            animation-duration: .4s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;

            &.selected {
                /* visible event content */
                position: relative;
                z-index: 2;
                opacity: 1;
                @include qodefTransform(translateX(0));
            }

            &.qodef-enter-right, &.qodef-leave-right {
                @include qodefAnimation(qodef-enter-right .4s ease-in-out);
            }

            &.qodef-enter-left,  &.qodef-leave-left {
                @include qodefAnimation(qodef-enter-left .4s ease-in-out);
            }

            &.qodef-leave-right, &.qodef-leave-left {
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
            }
        }

        .qodef-hti-content-inner {
            @include qodefTableLayout();
            @include qodefBoxSizing(border-box);
            padding: 6px;
            .qodef-hti-content-inner-shadow {

            }
        }
        .qodef-hti-content-image {
            @include qodefTableCellLayout();
            width: 50%;
            text-align: center;
            line-height: 0;
        }
        .qodef-hti-content-value {
            @include qodefTableCellLayout();
            width: 50%;
            text-align: left;
            padding: 30px 45px;
        }

    }

    @include MQ(L) {
        &::before {
            /* never visible - this is used in jQuery to check the current MQ */
            content: 'desktop';
        }
    }

    &.qodef-timeline-bottom {
        .qodef-events-content {
            margin-top: 0;
            margin-bottom: 53px;
        }
    }
}


@include keyframes(qodef-enter-right) {
    0% {
        opacity: 0;
        @include qodefTransform(translateX(100%));
    }

    100% {
        opacity: 1;
        @include qodefTransform(translateX(0%));
    }
}

@include keyframes(qodef-enter-left) {
    0% {
        opacity: 0;
        @include qodefTransform(translateX(-100%));
    }

    100% {
        opacity: 1;
        @include qodefTransform(translateX(0%));
    }
}
