.qodef-header-standard {

    .qodef-menu-area {
        background-color: #fff;

        .qodef-vertical-align-containers {
            padding: 0 73px;
            .qodef-position-right-inner{
                height: 100%;
            }
        }

        .qodef-main-menu {
           .qodef-main-menu-line {
               bottom: -1px;
           }
        }
    }
    &.qodef-header-solid-grid {
        .qodef-menu-area {
            .qodef-vertical-align-containers {
                padding: 0 46px;
            }
        }
    }
}

