//layout mixins - start

@mixin qodefTableLayout(){
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

@mixin qodefTableCellLayout(){
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

@mixin qodefRelativeHolderLayout() {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

@mixin qodefAbsoluteHolderLayout() {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin qodefTypographyLayout() {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}

//layout mixins - end

//transition mixins - start

@mixin qodefTransition($transition-param...) {
    -webkit-transition: $transition-param;
    -moz-transition: $transition-param;
    transition: $transition-param;
}

@mixin qodefTransform($transform-param...) {
    -webkit-transform: $transform-param;
    -moz-transform: $transform-param;
    transform: $transform-param;
}

@mixin qodefAnimation($animation-param...) {
	-webkit-animation: $animation-param;
    -moz-animation: $animation-param;
	animation: $animation-param;
}

@mixin qodefTransformOrigin($animation-param...) {
	-webkit-transform-origin: $animation-param;
    -moz-transform-origin: $animation-param;
    transform-origin: $animation-param;
}

@mixin qodefBoxShadow() {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
}

@mixin qodefBoxShadowCustom($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin qodefBorderRadius($border-radius...) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin qodefBoxSizing($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

@mixin qodefFilter($filter) {
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -o-filter: $filter;
    -ms-filter: $filter;
    filter: $filter;
}


@mixin qodefBorderGradient($first-gradient-color, $second-gradient-color) {
  -moz-border-image: -moz-linear-gradient(left, $first-gradient-color 0%, $second-gradient-color 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $first-gradient-color 0%, $second-gradient-color 100%);
  border-image: linear-gradient(to right, $first-gradient-color 0%, $second-gradient-color 100%);
  border-image-slice:1;
}

@mixin qodefBackgroundGradient($first-gradient-color, $second-gradient-color) {
    background: -o-linear-gradient(left, $first-gradient-color 0%, $second-gradient-color 100%);
    background: -moz-linear-gradient(left, $first-gradient-color 0%, $second-gradient-color 100%);
    background: -webkit-linear-gradient(left, $first-gradient-color 0%, $second-gradient-color 100%);
    background: linear-gradient(to right, $first-gradient-color 0%, $second-gradient-color 100%);
}

@mixin qodefAngleBackgroundGradient($first-gradient-color, $second-gradient-color) {
    background: -o-linear-gradient(-45deg, $first-gradient-color 0%, $second-gradient-color 100%);
    background: -moz-linear-gradient(-45deg, $first-gradient-color 0%, $second-gradient-color 100%);
    background: -webkit-linear-gradient(-45deg, $first-gradient-color 0%, $second-gradient-color 100%);
    background: linear-gradient(-45deg, $first-gradient-color 0%, $second-gradient-color 100%);
}

@mixin qodefBackgroundGradientTop($first-gradient-color, $second-gradient-color) {
    background: -o-linear-gradient(top, $first-gradient-color 0%, $second-gradient-color 100%);
    background: -moz-linear-gradient(top, $first-gradient-color 0%, $second-gradient-color 100%);
    background: -webkit-linear-gradient(top, $first-gradient-color 0%, $second-gradient-color 100%);
    background: linear-gradient(to bottom, $first-gradient-color 0%, $second-gradient-color 100%);
}





//transition mixins - end

//media query mixins - start

@mixin laptop-landscape-large {
    @media only screen and (max-width: $laptop-landscape-large) {
        @content;
    }
}

@mixin laptop-landscape-medium {
    @media only screen and (max-width: $laptop-landscape-medium) {
        @content;
    }
}

@mixin laptop-landscape {
    @media only screen and (max-width: $laptop-landscape) {
        @content;
    }
}

@mixin ipad-landscape {
    @media only screen and (max-width: $ipad-landscape) {
        @content;
    }
}

@mixin ipad-landscape-min {
    @media only screen and (min-width: $ipad-landscape) {
        @content;
    }
}

@mixin ipad-portrait {
    @media only screen and (max-width: $ipad-portrait) {
        @content;
    }
}

@mixin phone-landscape {
    @media only screen and (max-width: $phone-landscape) {
        @content;
    }
}

@mixin phone-portrait {
    @media only screen and (max-width: $phone-portrait) {
        @content;
    }
}

@mixin smaller-phone-portrait {
    @media only screen and (max-width: $smaller-phone-portrait) {
        @content;
    }
}

//media query mixins - end

@mixin vertical-menu-laptop-landscape {
    @media only screen and (min-width: $vertical-menu-ipad-landscape) and (max-width: $vertical-menu-laptop-landscape) {
        @content;
    }
}

@mixin vertical-menu-ipad-landscape {
    @media only screen and (min-width: $ipad-landscape) and (max-width: $vertical-menu-ipad-landscape) {
        @content;
    }
}

@mixin ipad-portrait-landscape {
    @media only screen and (min-width: 769px) and (max-width: $ipad-landscape) {
        @content;
    }
}

@mixin mac-landscape {
    @media only screen and (min-width: $ipad-landscape) and (max-width: $laptop-landscape-medium-plus-pixel) {
        @content;
    }
}

//animation mixin - start

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content };
    @keyframes #{$name} { @content };
}

@mixin animation ($name, $duration, $repeat, $timing, $delay) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $repeat;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $repeat;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

//animation mixin - end