/* ==========================================================================
   WooCommerce Select 2 Script styles - begin
   ========================================================================== */

/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    @include qodefBoxSizing(border-box);
}

.select2-container {
    @include qodefRelativeHolderLayout();
    margin: 0 0 14px;

    .select2-choice {
        @include qodefRelativeHolderLayout();
        height: 44px;
        line-height: 44px;
        padding: 0 20px;
        font-family: inherit;
        font-size: inherit;
        color: $default-text-color;
        background-color: transparent;
        border: 1px solid $default-border-color;
        border-radius: 0;
        @include qodefBoxSizing(border-box);

        &:hover {
            color: $default-heading-color;

            .select2-arrow {
                color: $default-heading-color;
            }
        }

        .select2-arrow {
            position: absolute;
            width: 20px;
            height: 100%;
            top: 0;
            right: 10px;
            color: $default-text-color;
            line-height: inherit;
            text-align: center;

            b {
                display: none;
            }

            &:before {
                font-family: 'Linearicons-Free';
                content: '\e874';
            }
        }
    }

    .select2-offscreen,
    .select2-offscreen:focus {
        clip: rect(0 0 0 0) !important;
        width: 1px !important;
        height: 1px !important;
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        position: absolute !important;
        outline: 0 !important;
        left: 0px !important;
        top: 0px !important;
    }
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-drop {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -1px;
    z-index: 9999;

    background-color: #fff;
    color: $default-text-color;
    border: 1px solid $default-border-color;
    border-top: 0;

    .select2-search {
        @include qodefRelativeHolderLayout();
        min-height: 26px;
        margin: 0;
        padding: 4px 15px 0;
        z-index: 10000;
        white-space: nowrap;

        input {
            width: 100%;
            height: auto !important;
            min-height: 26px;
            padding: 4px;
            margin: 0;
            outline: 0;
            font-family: sans-serif;
            font-size: 1em;
            border: 1px solid $default-border-color;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    .select2-results {
        position: relative;
        max-height: 200px;
        padding: 2px 15px;
        margin: 5px 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: none;

        .select2-highlighted {
            color: $default-heading-color;
            background-color: transparent;
        }

        ul.select2-result-sub {
            margin: 0;
            padding-left: 0;
        }

        li {
            list-style: none;
            display: list-item;
            background-image: none;
            padding: 7px 0;
        }

        li.select2-result-with-children > .select2-result-label {
            font-weight: bold;
        }

        .select2-result-label {
            padding: 0;
            margin: 0;
            cursor: pointer;

            min-height: 1em;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.select2-results-dept-1 .select2-result-label {
    padding-left: 20px
}

.select2-results-dept-2 .select2-result-label {
    padding-left: 40px
}

.select2-results-dept-3 .select2-result-label {
    padding-left: 60px
}

.select2-results-dept-4 .select2-result-label {
    padding-left: 80px
}

.select2-results-dept-5 .select2-result-label {
    padding-left: 100px
}

.select2-results-dept-6 .select2-result-label {
    padding-left: 110px
}

.select2-results-dept-7 .select2-result-label {
    padding-left: 120px
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
}

.qodef-woocommerce-page {

    .qodef-shipping-calculator .country_to_state {
        width: 100%;
    }
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-results .select2-ajax-error {
    background: rgba(255, 50, 50, .2);
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/*
	Version: 4.0.3 Timestamp: Monday Mart 27 2:59:00pm EDT 2017
*/
.select2-container--default {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border: 0;
    border-radius: 0;
    text-align: initial;
    box-sizing: border-box;

    &[dir="rtl"] {

        .select2-selection--single {

            .select2-selection__clear {
                float: left;
            }

            .select2-selection__rendered {
                padding: 0 20px 0 30px;
            }

            .select2-selection__arrow {
                left: 20px;
                right: auto;
            }
        }

        .select2-selection--multiple {

            .select2-selection__choice,
            .select2-selection__placeholder,
            .select2-search--inline {
                float: right;
            }

            .select2-selection__rendered {
                padding: 0 20px 0 30px;
            }

            .select2-selection__choice {
                margin: 7px auto 0 5px;
            }

            .select2-selection__choice__remove {
                margin: 0 auto 0 3px;
            }
        }
    }

    &.select2-container--disabled {

        .select2-selection--single {
            background-color: #eee;
            cursor: default;

            .select2-selection__clear {
                display: none;
            }
        }

        .select2-selection--multiple {
            background-color: #eee;
            cursor: default;
        }

        .select2-selection__choice__remove {
            display: none;
        }
    }

    &.select2-container--open {

        .select2-selection--single {
            color: $default-heading-color;
        }

        .select2-dropdown {
            left: 0;

            &.select2-dropdown--above {
                border-bottom-color: transparent;
            }

            &.select2-dropdown--below {
                border-top-color: transparent;
            }
        }
    }

    .qodef-woocommerce-page .cart-collaterals .woocommerce-shipping-calculator & {
        width: 100% !important;
        margin: 0 0 14px;
    }

    .select2-selection--single {
        display: block;
        height: 44px;
        line-height: 42px;
        padding: 0;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: transparent;
        border: 1px solid $default-border-color;
        border-radius: 0;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;

        .select2-selection__rendered {
            display: block;
            padding: 0 30px 0 20px;
            color: inherit;
            line-height: inherit;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            box-sizing: border-box;
        }

        .select2-selection__clear {
            position: relative;
            cursor: pointer;
            float: right;
            margin: 0;
            font-weight: inherit;
        }

        .select2-selection__placeholder {
            color: inherit;
        }

        .select2-selection__arrow {
            position: absolute;
            width: auto;
            height: 100%;
            top: 0;
            right: 20px;
            color: inherit;
            line-height: inherit;
            text-align: center;

            b {
                display: none;
            }

            &:before {
                font-family: 'FontAwesome';
                content: '\f107';
            }
        }
    }

    .select2-selection--multiple {
        display: block;
        height: 44px;
        line-height: 42px;
        padding: 0;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: transparent;
        border: 1px solid $default-border-color;
        border-radius: 0;
        outline: 0;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;

        .select2-selection__rendered {
            display: block;
            list-style: none;
            padding: 0 30px 0 20px;
            margin: 0;
            color: inherit;
            line-height: inherit;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            box-sizing: border-box;

            li {
                list-style: none;
            }

            .select2-selection__placeholder {
                float: left;
                margin: 0;
                color: inherit;
            }

            .select2-selection__clear {
                position: relative;
                cursor: pointer;
                float: right;
                margin: 0;
                font-weight: inherit;
            }

            .select2-selection__choice {
                float: left;
                margin: 7px 5px 0 0;
                padding: 0 10px;
                line-height: 30px;
                color: #fff;
                background-color: $default-heading-color;
                border: 0;
                border-radius: 0;
                cursor: default;
            }

            .select2-selection__choice__remove {
                display: inline-block;
                margin: 0 3px 0 0;
                color: inherit;
                font-weight: 700;
                cursor: pointer;
                @include qodefTransition(opacity .2s ease-out);

                &:hover {
                    color: inherit;
                    opacity: 0.8;
                }
            }
        }
    }

    .select2-search--inline {
        float: left;

        .select2-search__field {
            margin: 0;
            padding: 0;
            font-size: 100%;
            background: transparent;
            border: none;
            outline: 0;
            box-shadow: none;
            -webkit-appearance: textfield;
            box-sizing: border-box;

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }
    }

    .select2-dropdown {
        position: absolute;
        top: 0;
        left: -100000px;
        width: 100%;
        display: block;
        background-color: #fff;
        border: 1px solid $default-border-color;
        border-radius: 0;
        z-index: 1051;
        box-sizing: border-box;
    }

    .select2-search--dropdown {
        display: block;
        padding: 14px 15px 7px;

        &.select2-search--hide {
            display: none;
        }

        .select2-search__field {
            padding: 4px 8px;
            width: 100%;
            color: inherit;
            font-size: inherit;
            line-height: inherit;
            font-family: inherit;
            font-weight: inherit;
            border: 1px solid $default-border-color;
            outline: none;
            box-sizing: border-box;
            -webkit-appearance: none;

            &:focus {
                border-color: $default-heading-color;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }
    }

    .select2-results {
        display: block;

        > .select2-results__options {
            max-height: 200px;
            overflow-y: auto;
        }
    }

    .select2-results__options {
        position: relative;
        padding: 2px 15px;
        margin: 5px 0;
        list-style: none;
    }

    .select2-results__option {
        padding: 7px 0;
        user-select: none;
        -webkit-user-select: none;
        @include qodefTransition(color .2s ease-out);

        &[aria-selected] {
            cursor: pointer;
        }

        &[role=group] {
            padding: 0;
        }

        &[aria-disabled=true] {
            color: $default-heading-color;
        }

        &[aria-selected=true] {
            color: $default-heading-color;
            background: none;
        }

        .select2-results__option {
            padding-left: 1em;

            .select2-results__group {
                padding-left: 0;
            }

            .select2-results__option {
                margin-left: -1em;
                padding-left: 2em;

                .select2-results__option {
                    margin-left: -2em;
                    padding-left: 3em;

                    .select2-results__option {
                        margin-left: -3em;
                        padding-left: 4em;

                        .select2-results__option {
                            margin-left: -4em;
                            padding-left: 5em;

                            .select2-results__option {
                                margin-left: -5em;
                                padding-left: 6em;
                            }
                        }
                    }
                }
            }
        }
    }

    .select2-results__option--highlighted {

        &[aria-selected] {
            color: $default-heading-color;
            background: none;
        }
    }

    .select2-results__group {
        display: block;
        padding: 7px 0;
        cursor: default;
    }
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

/* ==========================================================================
   WooCommerce Select 2 Script styles - end
   ========================================================================== */